@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
:root {
  --main-color: #436cff;
  --body-bg: #f8f8fb;
  --navbar-bg: #615dfa;
  --navbar-color: #FFF;
  --icon-active: #3e3f5e;
  --icon-idle: #8b88ff;
  --p-color: #3e3f5e;
  --subp-color: #adafca;
  --link-color: #6c5dd3;
  --a-light: #FFF;
  --shadow-color: #5e5c9a0f;
  --border-color: #eaeaf5;
  --sub-light: #fcfcfd;
  --border-input: #dedeea;
  --still-dark: #161b28;
  --still-dark2: #1d2333;
  --light-dark28: #FFF;
  --bg-28: #f8f8fb;
  --sec-bg: #f1f4f6;
}

.dark {
  --main-color: #436cff;
  --body-bg: #161b28;
  --navbar-bg: #615dfa;
  --navbar-color: #1d2333;
  --icon-active: #FFF;
  --icon-idle: #8b88ff;
  --p-color: #FFF;
  --subp-color: #9aa4bf;
  --link-color: #6c5dd3;
  --a-light: #FFF;
  --shadow-color: #0000000f;
  --border-color: #2f3749;
  --sub-light: #21283b;
  --border-input: #3f485f;
  --still-dark: #161b28;
  --still-dark2: #1d2333;
  --light-dark28: #161b28;
  --bg-28: #1d2333;
  --sec-bg: #1d2333;
}

@font-face {
  font-family: "header-font";
  src: url(assets/fonts/ZeroMaster.ttf);
}

@font-face {
  font-family: "pondar-font";
  src: url(assets/fonts/Pondar.otf);
}

@font-face {
  font-family: "main-font";
  src: url(assets/fonts/cuyabra.otf);
}

body {
  font-family: "cairo";
  overflow-x: hidden;
  direction: rtl;
}

.navbar {
  direction: ltr;
  background: #FFF;
  padding: 25px 30px;
  position: relative;
  z-index: 5;
}

.navbar .navbar-brand {
  padding: 0;
  margin-right: 85px;
}

.navbar .navbar-brand img {
  width: 45px;
}

.navbar .navbar-nav {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-nav .navbar-nav-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-link {
  color: #adafca;
  font-size: 0.95rem;
  margin: 0 3px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover {
  color: #101621;
}

.navbar .navbar-nav .active {
  color: #101621;
  font-weight: 600;
}

.navbar .navbar-nav .signup {
  background: #101621;
  color: #FFF;
  width: 125px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .signup {
    margin: 10px 0;
  }
}

.navbar .navbar-nav .signup svg {
  height: 14px;
  width: 14px;
  fill: #FFF;
  margin-left: 8px;
}

.navbar .navbar-nav .signup:hover {
  background: #3e3f5e;
  color: #FFF;
}

.navbar .navbar-nav .login {
  background: transparent;
  color: #FFF;
  width: 75px;
  direction: ltr;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  height: 45px;
  border-radius: 7px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.navbar .navbar-nav .login svg {
  height: 14px;
  width: 14px;
  fill: #101621;
  margin-right: 8px;
  margin-top: -2px;
}

.navbar button:focus, .navbar button:active {
  outline: 0;
}

.header {
  height: 100vh;
  position: relative;
  background: #FFF;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  background: url(assets/images/semi-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.header .header-content {
  margin-top: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 25px;
  width: 100%;
}

.header .header-content .header-content-text {
  margin-bottom: 25px;
}

.header .header-content h1 {
  color: #101621;
  font-weight: 700;
  width: 55%;
  margin: 25px auto;
  font-size: 3.7rem;
}

@media (max-width: 1199.98px) {
  .header .header-content h1 {
    width: 80%;
  }
}

@media (max-width: 991.98px) {
  .header .header-content h1 {
    width: 80%;
    font-size: 2.8rem;
  }
}

@media (max-width: 767.98px) {
  .header .header-content h1 {
    width: 80%;
    font-size: 2.4rem;
  }
}

@media (max-width: 575.98px) {
  .header .header-content h1 {
    width: 100%;
    font-size: 2rem;
  }
}

.header .header-content p {
  color: #adafca;
  width: 40%;
  margin: auto;
  font-size: 1.1rem;
}

@media (max-width: 1199.98px) {
  .header .header-content p {
    width: 45%;
  }
}

@media (max-width: 991.98px) {
  .header .header-content p {
    width: 60%;
    font-size: 0.9rem;
  }
}

@media (max-width: 767.98px) {
  .header .header-content p {
    width: 80%;
    font-size: 0.9rem;
  }
}

@media (max-width: 575.98px) {
  .header .header-content p {
    width: 100%;
    font-size: 0.9rem;
  }
}

.header .header-content p span {
  color: #6c5dd3;
}

.header .header-content img {
  height: 90%;
  max-width: 60%;
  margin-top: 25px;
}

@media (max-width: 1199.98px) {
  .header .header-content img {
    max-width: 90%;
  }
}

@media (max-width: 991.98px) {
  .header .header-content img {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header .header-content img {
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .header .header-content img {
    max-width: 100%;
  }
}

.about {
  padding: 100px 0;
  text-align: right;
}

@media (max-width: 575.98px) {
  .about {
    padding: 50px 0;
    text-align: center;
  }
}

.about .about-line .pretitle {
  color: #ffb100;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.about .about-line .title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .about .about-line .title {
    font-size: 2rem;
    line-height: 40px;
  }
}

.about .about-line .text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #7e868e;
  margin: 0;
}

@media (max-width: 575.98px) {
  .about .about-line .text {
    font-size: 1rem;
  }
}

.about .about-line .calc-students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .about .about-line .calc-students {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about .about-line .calc-students .num {
  margin-left: 25px;
  font-size: 5.5rem;
  font-weight: 900;
  background: url(./assets/images/landing/header3.jpg) no-repeat;
  background-size: 250px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.about .about-line .calc-students span {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about .about-features {
  padding: 75px 0 0 0;
  text-align: center;
}

@media (max-width: 575.98px) {
  .about .about-features {
    padding: 0 0 0 0;
  }
}

.about .about-features .about-line-feat {
  padding: 75px 35px;
}

@media (max-width: 575.98px) {
  .about .about-features .about-line-feat {
    text-align: center;
    padding: 50px 25px;
  }
}

.about .about-features .about-line-feat svg {
  height: 40px;
  width: 40px;
  margin-bottom: 25px;
  fill: #291a87;
}

@media (max-width: 575.98px) {
  .about .about-features .about-line-feat svg {
    margin-left: -15px;
  }
}

.about .about-features .about-line-feat h3 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about .about-features .about-line-feat p {
  font-size: 1rem;
  margin: 0;
  color: #7e868e;
}

.about .about-features .about-line-feat-active {
  background-image: url(./assets/images/landing/header.png);
  border-radius: 12px;
  background: #f7faff;
}

.about .about-features .about-line-feat-active svg {
  fill: #291a87;
}

.about .about-features .about-line-feat-active h3 {
  color: #000;
}

.about .about-features .about-line-feat-active p {
  color: #7e868e;
}

.features {
  padding: 75px 0;
  background: #f7faff;
}

@media (max-width: 575.98px) {
  .features {
    padding: 50px 0;
  }
}

.features .features-header {
  text-align: center;
  margin-bottom: 50px;
}

.features .features-header .pretitle {
  color: #ffb100;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.features .features-header .title {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .features .features-header .title {
    font-size: 3rem;
  }
}

.features .feat-card {
  background: #FFF;
  border-radius: 12px;
  padding: 50px 25px;
  text-align: center;
  margin: 12px 0;
  border: 1px solid #e8eff591;
}

@media (max-width: 575.98px) {
  .features .feat-card {
    padding: 25px 25px;
  }
}

.features .feat-card lord-icon {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.features .feat-card svg {
  height: 30px;
  width: 30px;
  fill: #000;
}

.features .feat-card h3 {
  font-size: 35px;
  font-weight: 900;
  background-clip: text;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center center;
  text-transform: uppercase;
  margin: 0;
  background-image: linear-gradient(279deg, rgba(64, 106, 152, 0.9) 0%, #2a1e80 93%);
  line-height: 49px;
}

.features .feat-card h4 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: -2px;
}

.features .feat-card p {
  color: #7e868e;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}

.contact {
  padding: 75px 0;
}

@media (max-width: 575.98px) {
  .contact {
    padding: 50px 0;
  }
}

.contact .contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact .contact-header .pretitle {
  color: #ffb100;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.contact .contact-header .title {
  font-weight: 600;
  font-size: 4rem;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .contact .contact-header .title {
    font-size: 3rem;
  }
}

.contact .contact-form {
  max-width: 900px;
  margin: auto;
}

.contact .contact-form .form-group {
  margin-bottom: 25px;
}

.contact .contact-form .form-group .form-control {
  width: 100%;
  padding: 0 0 0 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-indent: 4px;
  font-size: 0.8rem;
  color: #000;
  font-weight: 600;
  height: 60px;
}

.contact .contact-form .form-group .form-control::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #7e868e;
  font-weight: 600;
}

.contact .contact-form .form-group .form-control:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #7e868e;
  font-weight: 600;
}

.contact .contact-form .form-group .form-control::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #7e868e;
  font-weight: 600;
}

.contact .contact-form .form-group .form-control::placeholder {
  font-size: 0.8rem;
  color: #7e868e;
  font-weight: 600;
}

.contact .contact-form .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-bottom: 1px solid #ffb100;
}

.contact .contact-form .form-group textarea {
  min-height: 200px;
}

.contact .contact-form .send-btn {
  background: #000;
  outline: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-radius: 50px;
  color: #FFF;
  padding: 20px 50px;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
  }
}
/*# sourceMappingURL=main-landing.css.map */