.live-card {
    padding: 20px 25px 20px 25px;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
    margin: 8px auto;
    position: relative;
    min-height: 184px;
    figure {
        height: 150px;
        border-radius: 12px;
        position: relative;
        margin: 0px 0 10px;
        background: {
            position: center center;
            size: cover;
            repeat: no-repeat;
        }
        .live-date-abs {
            background: #FFF;
            height: 40px;
            width: 40px;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 12px;
            color: #3e3f5e;
            z-index: 10;
            padding: 4px 0;
            p {
                margin: 0;
                text-align: center;
            }
            .date-number {
                font-size: 0.8rem;
                font-weight: 700;
            }
            .date-month {
                font-size: 0.6rem;
                font-weight: 500;
                margin-top: -5px;
            }
        }
    }
    .live-content {
        min-height: 125px;
        padding: 0 10px;
        margin-bottom: 10px;
        h6 {
            color: #3e3f5e;
            font-size: 0.85rem;
            text-align: right;
            font-weight: 700;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .live-time {
            display: flex;
            align-items: center;
            color: #6c5dd3;
            margin-bottom: 2px;
            font-size: 0.7rem;
            font-weight: 700;
            svg {
                height: 18px;
                width: 18px;
                margin-left: 5px;
                g [fill] {
                    fill: #3e3f5e;
                }
            }
        }
        p {
            color: #3e3f5e;
            text-align: right;
            font-size: 0.8rem;
            margin: 12px 0 0 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    .live-actions {
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        .clockdiv {
            background: #f6f8ff;
            padding: 0 10px;
            border-radius: 8px;
            width: 100%;
            color: #3e3f5e;
            font-weight: 700;
            height: 28px;
            line-height: 28px;
            font-size: 0.75rem;
            margin-left: 15px;
        }
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 0.75rem;
            color: white;
            background: #b6b6c2;
            padding: 4px 12px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            height: 28px;
            cursor: not-allowed;
            pointer-events: none;
            svg {
                height: 20px;
                width: 20px;
                margin-left: 5px;
                g [fill] {
                    fill: #FFF;
                }
            }
        }
    }
    .record-lesson-upload {
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        width: 100%;
        .text-link {
            background: #f6f8ff;
            padding: 0 10px;
            border-radius: 8px;
            width: 100%;
            color: #3e3f5e;
            font-weight: 700;
            height: 28px;
            line-height: 28px;
            font-size: 0.7rem;
            text-align: center;
            display: block;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    .uploaded-record {
        cursor: pointer;
        .text-link {
            color: #ffffff;
            background: #6c5dd3;
            cursor: pointer;
            pointer-events: visible;
        }
    }
}
.active-live {
    background: #6c5dd3 !important;
    color: #FFF !important;
    cursor: pointer !important;
    pointer-events: auto !important;
}

[lang="en"] {
    .live-card {
        figure {
            .live-date-abs {
                left: unset;
                right: 10px;
            }
        }
        .live-content {
            h6 {
                text-align: left;
                padding-left: 2px;
            }
            .live-time {
                svg {
                    margin-left: unset;
                    margin-right: 5px;
                }
            }
            p {
                text-align: left;
            }
        }
        .live-actions {
            .clockdiv {
                margin-left: unset;
                margin-right: 15px;
            }
            a {
                svg {
                    margin-left: unset;
                    margin-right: 5px;
                }
            }
        }
    }
}