.exam-content {
    color: #000;
    .exam-header {
        padding: 0 20px;
        background: #dee2e6;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #adb5bd;
        @media (max-width: $max-5) {
            padding: 0 10px;
        }
        .exam-header-side {
            padding: 0;
            height: 100%;
            display: flex;
            align-items: center;
            line-height: 50px;
            .show-all-ques-icon {
                border-left: 1px solid #adb5bd;
                padding-left: 20px;
                svg {
                    height: 25px;
                    width: 25px;
                    fill: #000;
                    cursor: pointer;
                }
            }
            .exam-name {
                padding-right: 20px;
                h3 {
                    font-weight: 700;
                    font-size: 1rem;
                    margin: 0;
                    line-height: 50px;
                }
            }
            .exam-time {
                padding-right: 20px;

                border-right: 1px solid #adb5bd;
                h3 {
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin: 0;
                    line-height: 50px;
                }
            }
            .bookmark-icon {
                border-right: 1px solid #adb5bd;
                padding-right: 15px;
                padding-left: 15px;
                svg {
                    height: 25px;
                    width: 25px;
                    fill: #ff5757;
                    cursor: pointer;
                }
            }
            .exam-navigator {
                border-right: 1px solid #adb5bd;
                padding-right: 15px;
                padding-left: 15px;
                display: flex;
                align-items: center;
                .icon-step {
                    cursor: pointer;
                    svg {
                        fill: #000;
                        height: 25px;
                        width: 25px;
                    }
                }
                .ques-num {
                    padding: 4px 6px 0 6px;
                    span {
                        font-weight: 600;
                        font-size: 1.1rem;
                    }
                }
            }
            .exam-addition-icons {
                padding-right: 15px;
                padding-left: 15px;
                display: flex;
                align-items: center;
                .icon-parent {
                    margin: 0 6px;
                    cursor: pointer;
                }
            }
        }
    }
    .exam-question {
        padding: 25px 0;
        .ques-type {
            h3 {
                font-size: 1rem;
                font-weight: 700;
            }
        }
        .ques {
            padding: 25px 0;
            .questions-answers {
                padding: 50px 0;
                .inputGroup {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid #adb5bd4a;
                    padding: 15px;
                    border-radius: 4px;
                    margin: 10px 0;
                    .ans-title {
                        display: flex;
                        align-items: center;
                        .abgd {
                            margin-left: 15px;
                        }
                        .answer {
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
                .active-ans {
                    border: 1px dashed #000;
                }
            }
        }
    }
}