.class-card {
    background: #FFF;
    padding: 20px 25px 20px 25px;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
    margin: 8px auto;
    position: relative;
    color: #3e3f5e;
    .course-head {
        display: flex;
        align-items: center;
        .course-head-item {
            text-align: right;
            figure {
                width: 100px;
                height: 90px;
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                }
                margin-bottom: 0;
                border-radius: 12px;
                box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
            }
            .course-head-item-info {
                margin-right: 15px;
                .pretitle {
                    font-size: 0.7rem;
                    color: #adafca;
                    font-weight: 700;
                    text-align: right;
                    margin: 0;
                }
                a {
                    display: block;
                    text-decoration-color: #6c5dd3;
                }
                .course-title {
                    font-size: 0.9rem;
                    margin: 0px 0 10px 0;
                    color: #3e3f5e;
                    font-weight: 700;
                    text-align: right;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .class-actions {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #e1e1e17a;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 0;
            .class-action-item {
                background: #f8f8fb;
                border: 1px solid #e1e1e17a;
                width: 100%;
                border-radius: 6px;
                margin: 5px 5px;
                display: inline-block;
                display: flex;
                width: 45%;
                a {
                    padding: 5px 10px;
                    display: block;
                    height: 100%;
                    width: 100%;
                }
                svg {
                    fill: #000;
                    height: 18px;
                    width: 18px;
                }
                span {
                    font-size: 0.7rem;
                    font-weight: 700;
                    color: #000;
                    margin-right: 5px;
                }
            }
        }
    }
}